<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Upload index')" />

<body>
	<div id="root">
		<h2>Index Upload</h2>


			<table>
				<tr>
					<td>
						<input type="file" @change="onFileChange" />
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<button @click="sendUpload" />Upload</td>
					<td></td>
				</tr>
			</table>




	</div>

</body>
<div th:replace="fragments/footer :: foot"></div>

<script type="text/javascript">
	var app = new Vue({
		el: '#root',
		data: function () {
			return {
				file: ""
			};
		},
		methods: {
			onFileChange(e) {
				var files = e.target.files || e.dataTransfer.files;
				if (!files.length) return;
				this.file = files[0];
			},
			sendUpload() {

				var formData = new FormData()
				formData.append('file', this.file)
				const config = {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
				axios.post('/encoding', formData, config)
					.then(resp => console.log(resp))
					.catch(erro => console.log(erro))
				// console.log(this.file)
			}
		}


	});
</script>

</html>